/**    Indice
    1.Regole Generali;
    2.Header
    3.Drawer & Menu;
    4.Dialog custom style
    5.Add WiFi Action button
    6.Maps
    7.Splash Screen
    8.Conferme
    9. Dettagli Pin
*/




/** ________________1.Regole Generali________________ */
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}


/**Tooltip*/
.mdl-tooltip {
  border-radius: 7px / 7px !important;
}


/**Snackbar*/
#sb-confirm-operation {
 z-index: 30 !important;
}

.mdl-snackbar__text {
  color: yellow !important;
  font-size: medium !important;
}



/** ________________2. Header________________ */
.mdl-layout__header-row {
    padding: 0px 20px 0px 80px !important;
}
#notlogged-header {
    padding: 0px 20px 0px 20px !important;
}


#tooltipApriMenu {
 position: fixed;
 top: 10px;
 left: 10px;
 width: 50px;
 height: 40px;
 cursor: pointer;
 z-index: 4;
}




/** ________________3. Drawer & Menu________________ */
#badgeNotificheHeader {
  position: fixed;
  top: 22px;
  left: 30px;
  z-index: 5;
  cursor: pointer;
}

#mainTitle {
 text-align: center !important;
 padding: 0px;
 font-size: xx-large;
 color: rgb(131, 131, 131);
}

.mdl-layout__drawer {
  width: 355px;
  left: -160px;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

#logged-user-navigation {
 margin-top: 0px !important;
 padding-top: 0px !important;
}

#imageLogo {
  position: relative;
  padding-top: 30px;
  width: 100%;
  height: 100px;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: 80px 105px;
  background-position: center;
}

.iconCloseDrawer {
 z-index: 4;
 position: absolute;
 color: rgb(153, 153, 153);
 top: 15px;
 right: 15px;
}

.iconCloseDrawer:hover {
 cursor: pointer;
 color: rgb(127, 127, 127);
}

#iconCloseDrawerOne {
 margin: 0px;
 padding: 0px;
 position: relative;
 right: -18px;
}

#iconCloseDrawerTwo {
  margin: 0px;
  padding: 0px;
}

#user-drawer {
 background-color: white !important;
}


#logged-user-navigation a i { /** Seleziona le icone delle voci del menu */
    padding-right: 10px; /** Padding tra l'icona e il testo della voce del menu */
    color: rgb(77, 144, 254) !important;
}



.mdl-layout-title.subtitle {
  font-size: large;
  padding: 0px 0px 15px 28px;
}

.space {
  margin : 8px;
}

.menuHeader {
  font-size: medium !important;
  color: #C5CAE9 !important;
  height: 99% !important;
}


.menuHeader:hover {
  color: white !important;
  border-bottom: thick solid rgb(255, 64, 129) !important;
}

.dividerHeader {
  font-weight: bolder !important;
  font-size: x-large;
  color: rgb(255, 64, 129) !important;
}


.mdl-button.mdl-js-button.mdl-js-ripple-effect.drawerlink {
  height: 35px !important;
  font-size: medium !important;
  text-transform: none !important;
  color: rgb(131, 131, 131);
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

.mdl-button.mdl-js-button.mdl-js-ripple-effect.drawerlink:hover {
  color: rgb(77, 144, 254) !important;
}

#logged-user-navigation .mdl-button.mdl-js-button.mdl-js-ripple-effect { /** Seleziona le voci del menu */
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important; /** Le tre regole sovrascrivono quelle di mdl, modificando il padding delle voci */
}

/** 4. Dialog custom style  */

.none {
  text-align: center;
  vertical-align: bottom !important;
}

.mdl-dialog__actions button {
  color: rgb(255, 64, 129) !important;
}

/** TEST
.mdl-dialog__actions button:hover {
  box-shadow: 0px 2px 7px rgb(153, 153, 153) !important;
} */

.mdl-dialog__actions button:active {
  color: #2196F3 !important;
}


/** .mdl-dialog__content a {
 text-decoration: none !important;
}

.mdl-dialog__content a:hover {
 text-decoration: underline !important;
}

.mdl-dialog__content {
  font-size: medium !important;
} **/

.mdl-dialog-custom { /** Stile custom per il componente dialog di mdl **/
    padding: 0px !important;
    width: 30%;
    min-width: 600px;
}

#dialog-insertnewwifi {
  height: 75% !important;
  overflow: auto !important;
}


.mdl-dialog-custom .mdl-dialog__title { /** Elimina il padding top/bottom del dialog predefinito */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mdl-dialog-custom .mdl-title { /** Stile della testata del dialog */
    color: white;
    padding: 30px 30px 30px 10px;
    background-color: #3f51b5;
}

.mdl-dialog__sub { /** Sottotitolo del dialog */
    font-size: large !important;
    padding: 5px 25px 0px 25px;
    margin-top: 10px;
    margin-bottom: 0;
}

.mdl-dialog-custom .mdl-button { /** Colore del testo dei bottoni */
    /**color: #3f51b5;**/
}

#mdl-title-icon { /** Icona vicino al titolo */
    color: white;
    margin-right: 5px;
}

form { /** Elimina il margine a tutti i form */
    margin: 0px;
}
.mdl-textfield mdl-js-textfield mdl-textfield--floating-label{
    padding-bottom: 30px !important;
}

#insert-login-title {
  color: rgb(119, 119, 119) !important;
}

#dialog-askinsertwifimode button {
 float: right !important;
 color: rgb(255, 64, 129) !important;
}

.pin-detail-info .mdl-button--colored  {
 color: #FFC107 !important;
}

button.buttonInfo {
  float: right !important;
  color: #2196F3 !important;
}

#dialog-askinsertwifimode button:active {
  color: #2196F3 !important;
}


#dialog-askinsertwifimode > div:nth-child(3) {
  padding-right: 10px !important;
}


/** ------ Dialog mywifi/notification custom style ------- **/
.mdl-menu__item:hover {
  color: rgb(77, 144, 254) !important;
}

#dialog-mynotification a {
 text-decoration: none !important;
 color: black;
}

#dialog-mynotification a:hover {
 text-decoration: none !important;
 color: black;
}

.mdl-list__item{
    padding: 5px 16px 5px 16px !important;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons{
    color: #757575;
    background-color: white;
}
#dialog-wifi, #dialog-mynotification {
    overflow: hidden !important;
}
.mdl-list__item--three-line{
    height: auto !important;
}

#dialog-mywifi .mdl-dialog__content, #dialog-mynotification .mdl-dialog__content{
    padding: 0 15px 0 15px;
    height: 320px;
    overflow: auto;
}

#logged-user-navigation .material-icons {
  color: rgb(66, 133, 244);
}


.mdl-list__item-primary-content i {
  color: rgb(77, 144, 254) !important;
}

.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect > .material-icons{
  color: rgb(153, 153, 153) !important;
}

.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect {
  padding: 20px !important;
}

.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect:hover {
  box-shadow: 0px 2px 7px rgb(153, 153, 153) !important;
}



/** ________________5. Add WiFi Action button________________ */
#left-actionbtn { /** Visualizza l'action button in in basso a destra */
    position: fixed;
    z-index: 2;
    bottom: 25px;
    right: 50px;
}







/** ________________5. Maps________________ */
#map {
    width: 100%;
    position: static !important;
}





/**_________________7. Splash Screen_________________*/

#splashscreen {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: white;
    z-index: 50;
}

#splashscreen table {
  width: 100%;
  height: 100%;
}

#logoSplashScreen {
  padding: 0px;
  margin: 0px;
  color: rgb(131, 131, 131);
  vertical-align: bottom;
}

#logoSplashScreen > h5 {
  letter-spacing: 5px;
}





/**_________________8. Conferme_________________*/

#conferma button {
  color: white !important;
  background-color: rgb(77, 144, 254) !important;
}

#conferma button:hover {
  background-color: #00BCD4 !important;
}

#conferma table {
  width: 100%;
  height: 100%;
  color: rgb(131, 131, 131);
}

#conferma th {
  vertical-align: top;
}



/** ________________9.Dettagli pin________________ **/
.pin-detail-container{
  background-color: white;
  box-shadow: 0px 0px 30px #888888;
  overflow: hidden;
  visibility: hidden;
}
#close-pin-detail{
  float: right;
}


.pin-detail-title{
  color: white;
  padding: 10px 10px 20px 5px;
  background-color: #3f51b5;
}
.pin-detail-info{
  padding: 0 10px 15px 20px;
  height: auto;
  overflow: auto;
  color: rgb(119, 119, 119) !important;
}
.pin-detail-star ul{
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style-type: none;
}
.pin-detail-star ul li{
  float: left;
  margin-bottom: 16px;
}



/** ________________10.Inserisci pin________________ **/
#dialog-insertnewwifi ul li{
  padding-left: 0 !important;
}
#dialog-insertnewwifi ul{
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#dialog-insertnewwifi .mdl-list{
  width: 300px;
}
#dialog-insertnewwifi #insert-quality{
    padding-top: 18px;
}
#insert-quality .invalid{
  color: red;
}
#insert-input-error{
  display: none;
  color: red;
}
